.cursor {
	width: 20px;
	height: 20px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	animation: cursorAnim .5s infinite alternate;
	pointer-events: none;
	z-index: 999;
  }
  
  .cursor::after {
	content: "";
	width: 50px;
	height: 50px;
	position: absolute;
	border: 8px solid gray;
	border-radius: 50%;
	opacity: .5;
	top: -16px;
	left: -16px;
	animation: cursorAnim2 .5s infinite alternate;
  }
  
  @keyframes cursorAnim {
	from {
	  transform: scale(1);
	}
	to {
	  transform: scale(0.7);
	}
  }
  @keyframes cursorAnim2 {
	from {
	  transform: scale(1);
	}
	to {
	  transform: scale(0.4);
	}
  }
  @keyframes cursorAnim3 {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(3);
	}
	100% {
	  transform: scale(1);
	  opacity: 0;
	}
  }
  .expand {
	animation: cursorAnim3 .5s forwards;
	border: 1px solid red;
  }