
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
*{
margin:0;
padding:0;
}
 body
 {
   margin: 0;
   padding: 0;
   margin-bottom: 1rem;
   background: #000;
   font-family: 'Open Sans', sans-serif;
   color: #cdcdcd;
   cursor: none;
 }

 #menuToggle
 {
   display: block;
   position: relative;
   left:1rem;
   top:2rem;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }

 #menuToggle a
 {
   text-decoration: none;
   color: #fcfcfc;
   transition: color 0.3s ease;
 }

 #menuToggle a:hover
 {
   color: blueviolet;
 }

 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0;
   z-index: 2;
   -webkit-touch-callout: none;
 }

 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #ffffff;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }

 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }

 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }

 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #ffffff;
 }

 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }

 #menu
 {
   position: absolute;
   width: 100vw;
   height: 1475px;
   min-height: 100vh;
   margin: -100px 0 0 -50px;
   padding: 50px;
   left:2rem;
   padding-top: 125px;
   background: #000000;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }

 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }

 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

 .name{
     font-size: 4rem;
     margin-top: 1rem;
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
     background: -webkit-linear-gradient(rgb(0, 60, 255), rgb(162, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.4s ease 0s;
 -moz-transition: all 0.4s ease 0s;
 -o-transition: all 0.4s ease 0s;
 transition: all 0.4s ease 0s;
     margin-bottom: 1rem;
 }

 .name:hover{
  background: -webkit-linear-gradient(rgb(140, 0, 255), rgb(0, 89, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.4s ease 0s;
 -moz-transition: all 0.4s ease 0s;
 -o-transition: all 0.4s ease 0s;
 transition: all 0.4s ease 0s;
 }

 .about-me{
    font-size: 2rem;
    letter-spacing: normal;
    margin-bottom:20px;
 }

 .header{
    padding-top:2rem;
 }

 nav{
     margin-bottom: 6rem;
 }

 .socialmedia{
   display: inline-block;
   max-width: 10%;
   margin-top:1rem;
   margin-right: 1rem;
 }

 .profile-pic{
     max-width: 80%;
     border-radius: 20rem;
     text-align: center;
     margin-left: 2rem;
	  height: auto; 
 }

 .header{
   margin-bottom:5rem;
 }

.front-end-logos{
    padding-bottom: 1rem;
    padding-top:1rem;
    width:80%;
}

.front_end_skills{
 width:300px;
 font-family: 'Poppins', sans-serif;
 -webkit-transition: all 0.4s ease 0s;
 -moz-transition: all 0.4s ease 0s;
 -o-transition: all 0.4s ease 0s;
 transition: all 0.4s ease 0s;

}

.front_end_skills:hover{
    box-shadow: 0px 150px 3000px rgba(77, 107, 222, 12);
}

.front_skills{
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 21px;
    font-family: 'Open Sans', sans-serif;
    padding-right: 21px;
}

.skills-heading{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-decoration-color: #fff;
    padding-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.skills_illustration{
    max-width: 130%;
}


.blogCssTushar {
  margin: 2rem 2.5rem 6rem 2.5rem;
  padding: 1.5rem;
  transition: .3s ease-in-out;
}

.blogCssTushar:hover {
  transform: translate(1.01rem) scale(1.1);
  box-shadow: 5px 5px 10px #222!important;
}

.downarrow{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.about-me-para{
    font-size: 1.2rem;
    margin-top:1.5rem;
    padding:1.5rem;
    line-height: 9.5rem;
    -webkit-transition: all 0.4s ease 0s;
 -moz-transition: all 0.4s ease 0s;
 -o-transition: all 0.4s ease 0s;
 transition: all 0.4s ease 0s;
    font-family: 'Open Sans', sans-serif;
}


.about-me-para:hover{
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    -webkit-transition: all 0.4s ease 0s;
 -moz-transition: all 0.4s ease 0s;
 -o-transition: all 0.4s ease 0s;
 transition: all 0.4s ease 0s;

}
 .header{
   margin-bottom:5rem;
 }


.cursor-dot,.cursor-dot-outline { pointer-events: none; position: absolute; top: 50%; left: 50%; border-radius: 50%; opacity: 0; transform: translate(-50%, -50%); transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;} .cursor-dot { width: 8px; height: 8px; background-color:#fff;} .cursor-dot-outline { width: 40px; height: 40px; background-color: transparent; border:2px solid #fff;}
html { font-size:100%; }
